.comentarios h1 {
    padding-bottom: 2%;
}

#registrarComentarioDiv {
    width: 50%;
    margin: 0 auto;
    height: 210px;
}

#registrarComentarioDiv label {
    color: #2c3e50;
    text-align: right;
    width: 18%;
    float: left;
}

#registrarComentarioDiv textarea {
    font-family: 'Raleway', sans-serif;
    resize: none;
    width: 65%;
    height: 175px;
    outline-color: #F9AA33;
    float: left;
}

#send {
    border: none;
    background: transparent;
    color: #2c3e50;
    font-size: 20px;
    cursor: pointer;
    float: left;
    margin-top: 160px;
    margin-left: 5px;
}

#send:hover {
   color: #F9AA33;
   cursor: pointer; 
   transition: all 200ms ease;

}