#error{
    display: inline-block;
    text-align: center;
    margin-top: 150px;
    margin-bottom: 100px;
    font-size: 20px;
    color: #344955;
    width: 400px;
    margin-left: 400px;
}

#cajaImagen{
    margin: 0 auto;
    text-align: center;
}


h1{
    font-size: 50px;
    display: block;
    margin-top: 50px;
    margin-bottom: 100px;
    text-align: center;
    color: #f9aa33;
    /*text-shadow: -3px -2px 10px #344955;*/
}