
h1{
    display: inline-block;
    margin-top: 40px;
    margin-left: 5%;
    font-size: 25px;
    color: #2c3e50;
}

.filtro{
    float: right;
    margin-top: 40px;
    margin-right: 5%;
    margin-bottom: 50px;
}
.filtro label{
    display: inline-block;
    width: 60px;
    margin-left: 32px;
}

#txtFiltro{
    display: inline-block;
    width: 250px;
    height: 30px;
    outline: none;
}

form div select{
    display: inline-block;
    width: 254px;
    height: 35px;
}
form div{
    margin-right: 90px;
    margin-bottom: 50px;
    
 }
 form div label{
    display: inline-block;
    width: 190px;
    margin-left: 32px;
}

#tblCentrosCercanos{    
    border-collapse: collapse;
    text-align: center;
    margin-left: 32px;
    width: 90%;
    margin: 0 auto;
    margin-bottom: 120px;

    
}

.celdaImagen{
    height: 120px;
    width: 110px;
    object-fit: contain;
}


th{
    color: white;
    background-color: #f9bf33;
    border: #2c3e50 solid 1px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 65px;
    padding-left: 65px;    
}


#tblCentrosCercanos tbody tr td{
    color: #344955;
    border: 1px solid #344955;
    text-align: center;
    padding: 8px;
    size: 20px;
    vertical-align: middle !important;
}

