
h1{
    margin: 30px;
    font-size: 20px;
}

form div select{
    display: inline-block;
    width: 254px;
    height: 35px;
}
form div{
    margin-right: 90px;
     margin-bottom: 50px;
    
 }
 form div label{
    display: inline-block;
    width: 190px;
    margin-left: 32px;
}

#tblCriteriosMEP{
    
    border-collapse: collapse;
    margin-left: 32px;
    width: 80%;
    
}

#tblRangoCriteriosMEP{
    
    border-collapse: collapse;
    margin-left: 32px;
    width: 80%;
    margin-bottom: 50px;
   
}

th{
    color: white;
    background-color: #f9bf33;
    border: #2c3e50 solid 1px;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 65px;
    padding-left: 65px;

   
    
}


#tblCriteriosMEP tbody tr td{
    color: #344955;
    border: 1px solid #344955;
    text-align: center;
    padding: 8px;
}


#tblRangoCriteriosMEP tbody tr td{
    color: #344955;
    border: 1px solid #344955;
    text-align: center;
    padding: 8px;
}
