#tblEtiquetasSeleccionadas {
    border-collapse: separate;
    border-spacing: 5px 5px;
    width: 320px;
    margin: 20px auto;
    position: relative;
    bottom: 200px;
    left: -20px;
}
#tblEtiquetasSeleccionadas a{
    text-decoration: none;
    color: #2c3e50;

}

#tblEtiquetasSeleccionadas thead tr th {
    background: #f9aa33;
    color: white;
}

#tblEtiquetasSeleccionadas tbody tr td {
    color: #2c3e50;
    text-align: center;
    padding: 6px 1px;
    border: #2c3e50 solid 1px;
    width: 150px;
    max-width: 150px;
    min-width: 100px;
    max-height: 20px;
    font-size: 15px;
}

#tblEtiquetasSeleccionadas tbody tr td:hover {
    color: #f9aa33;
}

#tblEtiquetasSeleccionadas tbody, #tblEtiquetasSeleccionadas tbody tr{
    border: none;
}
#divEtiquetas{
    margin: 20px auto;
    position: relative;
    top: -70px;
    width: 0px;
    height: 0px;
}

#sltEtiquetasDiv{
    /*margin:20px auto 40px auto;*/
    margin-right: 100px;
    border:1px solid #d9d9d9;
    height:40px;
    overflow: hidden;
    width: 240px;
    position:relative;
    margin-bottom: 50px;
    margin-left: 50px;
    left: 295px;
    bottom: 50px;
}

#sltEtiquetasDiv:after {
    content:"\025be";
    display:table-cell;
    padding-top:7px;
    text-align:center;
    width:36px;
    height:36px;
    background-color:#d9d9d9;
    position:absolute;
    top:0;
    right:0px;
    pointer-events: none;
}

#sltEtiquetas:focus{ outline: none;}

#sltEtiquetas{
    background: transparent;
    border: none;
    padding: 5px;
    width: 240px;
    height: 40px;
    color: #2c3e50;
    font-size: 20px;
}

#lblEtiquetas{
    color: #2c3e50;
}
#tblUsuarios a:hover{
    text-decoration: none;
    color: #f9aa33
}
#tblEtiquetasSeleccionadas tbody tr td .awesome_images i {
    display: inline-block;
    cursor: pointer;
}
#tblEtiquetasSeleccionadas tbody tr td .awesome_images{
    float: right;

}
#tblEtiquetasSeleccionadas tbody tr td .awesome_images i:hover {
    color: white;
}
