.contenido{
    text-align: center;
}

h1{
    font-size: 25px;
    text-align: center;
    color: #2c3e50;
    margin-top: 40px;
    margin-bottom: 40px;
    /*text-shadow: -3px -2px 10px #344955;*/
}

table#tblCitas{
    margin: 0 auto;
    width: 80%;
}


#lblFiltrar{
    width: 100px;
    margin-right: 50px;
    margin-left: 50px;
}

#txtFiltrar{
    margin-left: 12px;
    width: 20%;
    margin-bottom: 50px;
    outline: none;
    border: 1px #344955 solid;
}

/* #txtFiltrar::placeholder{
    text-align: center;
} */

#cajaFiltrar{
    margin-top: 50px;
    text-align: right;
    margin-right: 10%;
}

#txtFiltrar, #lblFiltrar{
    font-size: 14px;
}
thead{
    background-color: #f9aa33;
}

table#tblCitas thead th, table#tblCitas tbody tr td{
    width: 25%;
    height: 80px;
    vertical-align: middle;
    text-align: center;
    border: 1px #344955 solid;
}


th{
    color: #ffffff;
}

td:hover{
    background-color: #344955;
    color: white;
}

.institucion, .fechaHora, .padre{
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
}

#error{
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
    color: #f9aa33;
    width: 400px;
}