h1 {
    display: inline-block;
    margin-top: 40px;
    margin-left: 5%;
    font-size: 25px;
    color: #2c3e50
}

.celdaImagen {
    width: 155px;
    height: 90px;
    object-fit: contain;
}


.filtrar {
    float: right;
    margin-top: 40px;
    margin-right: 5%;
}

#tblMaterialInformativo {
    border-collapse: collapse;
    width: 90%;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

th {
    background: #f9aa33;
    color: white;
}

td {
    color: #2c3e50;
}

td:hover {
    color: white;
    background: #4a6572;
}

td, th {
    text-align: center;
    padding: 12px 1px;
    border: #2c3e50 solid 1px;
}

#btnInfo {
    display: block;
    margin-top: 45px;
    padding: 14px 50px;
    margin-top: 20px;
    margin: 0 auto;
    background: #f9aa33;
    color: white;
    border: none;
    border-radius: 5px;
    outline: none;
}

#btnInfo:hover {
    background: #f9bf33
}