#divFiltrar{
    margin: 0% auto; 
    margin-left: 10%; 
    margin-top: 2%; 
}

#labelFiltrar{
    margin: 0% auto; 
    margin-right: 10px; 
    font-size: 20px; 
    color: #344955; 
}

#inputFiltrar{
    margin: 0% auto; 
    width: 230px; 
    height: 25px; 
    margin-left: 5px; 
}

div button{ 
    margin: 0% auto; 
    margin-left: 42%; 
    background: #344955; 
    width: 210px; 
    height: 40px; 
    border: none; 
    color: white; 
    margin-top: 25px; 
    font-size: 20px; 
    border-radius: 5px; 
} 
.error_input{ 
    border: 2px 
    solid #ED4C67; 
}

#tblNoticias{
    margin-top: 2.50%;
    margin-left: 10%; 
    margin-right: 10%; 
}

#thTituloUno{
    background-color: #344955;
    padding: 2%;
    text-align: center;
    color: white;
    font-size: 110%;
}

#thTituloDos{
    background: #344955;
    padding: 1%;
    text-align: center;
    color: white;   
    font-size: 110%;
}

#thTituloTres{
    background: #344955;
    padding: 1%;
    text-align: center;
    color: white;   
    font-size: 110%;
}

tr, td{
    padding: 1%;
    text-align: center;
}

tbody{
    font-size: 105%;
    line-height: 180%;
    text-align: center;
}