.contenido{
    text-align: center;
}

h1{
    display: inline-block;
    margin-top: 40px;
    margin-left: 5%;
    font-size: 25px;
    color: #2c3e50
}

#divBuscar{
    float: right;
    margin-top: 40px;
    margin-right: 5%;
    margin-bottom: 10px;
    margin-top: 70px;
}

#labelBuscar{
    margin-right: 7px;
}

#inputBuscar{
    width: 175px;
    height: 20px;
    outline-color: #f9aa33;
}

tr{
    border: 1px #344955 solid;
}

#tblMatriculas{
    margin-top: 150px;
    margin-left: 15%;
    margin-right: 15%;
    width: 70%;
}

#thTituloNombreMatricula{
    background-color: #f9aa33;
    padding: 2%;
    text-align: center;
    color: white;
    font-size: 150%;
}

#thPrecioMatricula{
    background: #f9aa33;
    padding: 1%;
    text-align: center;
    color: white;   
    font-size: 150%;
}

#thfieldsetPrecio{
    background: #f9aa33;
    padding: 1%;
    text-align: center;
    color: white;   
    font-size: 150%;
}

tr, td{
    padding: 1%;
    text-align: center;
    color: #344955;
}

td:hover{
    background: #2c3e50;
    color: white;
}

th, td{
    border: 1px #344955 solid;
    height: 60px;
    vertical-align: middle;
}

tbody{
    border: 1px #344955 solid;
    font-size: 130%;
    line-height: 180%;
    text-align: center;
}

fieldset{
    width: 290px;
    height: 40px;
    margin-top: 2%;
    margin-left: 45%;
}

#error{
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 20px;
    color: #f9aa33;
    width: 25%;
}

#mensaje{
    display: inline-block;
    text-align: center;
    margin-top: 100px;
    margin-bottom: 100px;
    font-size: 30px;
    color: #f9aa33;
    width: 25%;
}