#divFiltrar{
    margin: 0% auto; 
    margin-left: 10%; 
    margin-top: 2%; 
}

#labelFiltrar{
    margin: 0% auto; 
    margin-right: 10px; 
    font-size: 20px; 
    color: #344955; 
}

#inputFiltrar{
    margin: 0% auto; 
    width: 230px; 
    height: 25px; 
    margin-left: 5px; 
}

#tblMatriculas{
    margin-top: 2.50%;
    margin-left: 25%; 
    margin-right: 10%; 
}

#thTituloNombreMatricula{
    background-color: #344955;
    padding: 2%;
    text-align: center;
    color: white;
    font-size: 110%;
}

#thPrecioMatricula{
    background: #344955;
    padding: 1%;
    text-align: center;
    color: white;   
    font-size: 110%;
}

#thfieldsetPrecio{
    background: #344955;
    padding: 1%;
    text-align: center;
    color: white;   
    font-size: 110%;
}

tr, td{
    padding: 1%;
    text-align: center;
}

tbody{
    font-size: 105%;
    line-height: 180%;
    text-align: center;
}

#divNombreMatricula{
    margin: 0% auto;
    margin-left: 20%;    
    margin-top: 10%;
}

#divPrecioMatricula{
    margin: 0% auto;
    margin-left: 20%; 
    margin-top: 3%;   
}

#labelNombreMatricula{
    margin: 0% auto;
    margin-right: 10px;
    font-size: 25px;
    color: #344955;
}

#inputNombreMatricula{
    margin: 0% auto;
    width: 230px;
    height: 30px;
    margin-left: 15px;
}

#labelPrecioMatricula{
    margin: 0% auto;
    margin-right: 10px;
    font-size: 25px;
    color: #344955;
}

#inputPrecioMatricula{
    margin: 0% auto;
    width: 232px;
    height: 30px;
    margin-left: 38px;
}

#btnRegistrarMatricula{
    margin: 0% auto;
    margin-left: 46%;
    background: #344955;
    width: 290px;
    height: 60px;
    border: none;
    color: white;
    margin-top: 25px;
    font-size: 20px;
    border-radius: 5px;
}

.error_input{
    border: 2px solid #ED4C67;
}

fieldset{
    width: 290px;
    height: 40px;
    margin-top: 2%;
    margin-left: 45%;
}