#divFiltrar{
    margin: 0% auto; 
    margin-left: 10%; 
    margin-top: 2%; 
}

#labelFiltrar{
    margin: 0% auto; 
    margin-right: 10px; 
    font-size: 20px; 
    color: #344955; 
}

#inputFiltrar{
    margin: 0% auto; 
    width: 230px; 
    height: 25px; 
    margin-left: 5px; 
}

#tblBecas{
    margin-top: 2.50%;
    margin-left: 10%; 
    margin-right: 10%; 
}

#thTituloUno{
    background-color: #344955;
    padding: 2%;
    text-align: center;
    color: white;
    font-size: 110%;
}

#thTituloDos{
    background: #344955;
    padding: 1%;
    text-align: center;
    color: white;   
    font-size: 110%;
}


tr, td{
    padding: 1%;
    text-align: center;
}

tbody{
    margin-top: 50%;
    font-size: 105%;
    line-height: 180%;
}