html {
    font-family: 'Raleway', sans-serif;
}

body {
    overflow:hidden;
}

.sidebar {
    width: 15%;
    height: 100vh;
    background-color:#344955;
    /* #2c3e50 #22a6b3 */
    float: left;
}

.sicenLogo {
    background-image: url(../img/SICENblanco.png);
    background-size: contain;
    background-repeat-y: no-repeat;
    background-repeat-x: no-repeat;
    width: 47%;
    height: 3.4%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}

.line {
    border-bottom: 1px solid #F9AA33;
    width: 75%;
    margin: 0 auto;
    margin-bottom: 15px;
}

.wrapper {
    width: 90%;
    height: 100vh;
    margin: 0 auto;
}

h3 {
    color: white;
    font-size: 16px;
    text-align: center;
    margin-top: 10px;
}

h3:hover {
    color: #F9AA33;
    transition: all 300ms ease;
}

.opcion {
    display: inline-block;
    width: 100%;
    height: 40px;
    margin-bottom: 20px;
}

.opcion:hover {
    border-radius: 7px;
    height: 160px;
    border-radius: 7px;
    transition: all 400ms ease;
}

.opcion a {
    font-size: 14px;
    display: none;
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.opcion a:hover {
    color: #F9AA33;
}   

.subOpcion {
    padding-top: 10px;
}

.opcion:hover .subOpcion a {
    display: block;
    transition: all 600ms ease;
}

.userInfo {
    width: 15%;
    height: 70px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
}

.userInfo:hover {
    background: #4F6571;
    border-radius: 7px;
    width: 15%;
    height: 200px; 
    transition: all 300ms ease;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.45);
}

.subMenu {
    margin-top: 82px;
}

.userInfo:hover .subMenu a {
    display: block;
    transition: all 300ms ease;
}

.userInfo a {
    display: none;
    font-size: 11px;
    margin-bottom: 25px;
    text-align: center;
    text-decoration: none;
    color: white;
}

.userInfo a:hover {
    color: #f9aa33;
}

.userPhoto {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    float: right;
    margin-top: 10px;
    margin-right: 10px;
}

h4 {
    color: white;
    width: 135px;
    height: 5px;
    font-size: 11px;
    padding: 28px 0px;
    margin-left: 15px;
    float: left;
}

.contenido {
    width: 85%;
    height: 100vh;
}