
h1{
    font-size: 42px;
    display: block;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #f9aa33;
    /*text-shadow: -3px -2px 10px #344955;*/
}

.errorInput{
    border: 2px #ff4757 solid;
}

.successInput{
    border: 2px #344955 solid;
}

table#tblPreguntasFrecuentes{
    margin-top: 100px;
    margin-bottom: 100px;
}

form, #nueva{
    text-align: center;
    font-size: 20px;
    color: #344955;
    padding-bottom: 20px;
}

textarea{
    padding: 4px 2px;
    border: 2px #344955 solid;
    background: #fff;
    width: 30%;
    resize: none;
    vertical-align:top;
}

#lblFiltrar{
    width: 120px;
}

#txtFiltrar{
    margin-left: 12px;
    width: 500px;
    border: 2px #344955 solid;
}

#txtFiltrar::placeholder{
    text-align: center;
}

#cajaFiltrar{
    margin-top: 50px;
    display: inline-block;
}

#txtPregunta, #txtRespuesta, #txtFiltrar{
    font-size: 16px;
}

#txtPregunta, #txtRespuesta{
    width: 400px;
    height: 150px;
    text-indent: 18px;
}

#cajaRegistrarPregunta{
    float: left;
}

#cajaRegistrarRespuesta{
    float: right;
}

#cajaRegistrarPregunta, #cajaRegistrarRespuesta{
    margin-top: 30px;
    margin-bottom: 30px;
}

table#tblPreguntasFrecuentes tr{
    height: 100px;
}

.pregunta{
    text-align: center;
    font-size: 24px;
    font-weight: bold;
}

.respuesta{
    text-align: center;
    font-size: 18px;
    font-weight: normal;
}

button{
    padding: 20px;
    background: #f9aa33;
    color: #344955;
    font-size: 22px;
    display: block;
    margin: 0 auto;
}

button:hover{
    background: #ffbe76;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    transition: all 250ms ease;
}

.errorLabel{
    font-size: 13px;
    padding: 4px 18px;
    color: #D8000C;
    background-color: #FDD5CE;
    border: 1px solid #D8000C;
    margin: 40px;
    position:relative;
    top:4px;
}