#tblBecas{
    margin-top: 15%;
    margin-left: 10%; 
    margin-right: 10%; 
}

#thTituloUno{
    padding: 1%;
    text-align: center;
}

tr, td{
    padding: 1%;
    text-align: center;
}

tbody{
    border: 1px solid;
    margin-top: 50%;
}

#divPrecioMatricula{
    margin: 0% auto;
    margin-left: 27%;    
    margin-top: 10%;
}

#divPrecioMensualidad{
    margin: 0% auto;
    margin-left: 27%; 
    margin-top: 3%;   
}

#labelPrecioMatricula{
    margin: 0% auto;
    margin-right: 10px;
    font-size: 25px;
    color: #344955;
}

#inputPrecioMatricula{
    margin: 0% auto;
    width: 230px;
    height: 30px;
    margin-left: 80px;
}

#inputPrecioMatricula, #inputPrecioMensualidad{
    font-size: 20px;
    outline: none;
}

#labelPrecioMensualidad{
    margin: 0% auto;
    margin-right: 10px;
    font-size: 25px;
    color: #344955;
}

#inputPrecioMensualidad{
    margin: 0% auto;
    width: 232px;
    height: 30px;
    margin-left: 38px;
}

#btnRegistrarMatricula{
    margin: 0% auto;
    margin-left: 46%;
    background: #344955;
    width: 290px;
    height: 60px;
    border: none;
    color: white;
    margin-top: 25px;
    font-size: 20px;
    border-radius: 5px;
}

.error_input{
    border: 2px solid #ED4C67;
}

fieldset{
    width: 290px;
    height: 40px;
    margin-top: 2%;
    margin-left: 45%;
}