.wrapper {
    width: 98%;
    min-height: 50vh;
    margin: 0 auto;
    /* background-color: white; */
}

h1 {
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 25px;
    text-align: center;
    color: #2c3e50
}

.inputStandard {
    margin-bottom: 30px;
    float: right;
    margin-right: 5%;
}
.inputStandard div {
    display: inline;
 }
 
 .inputStandard label {
    color: #2c3e50;
    margin-right: 18px;
 }
 
 .inputStandard #txtFiltro {
    font-family: 'Raleway', sans-serif;
    width: 255px;
    height: 30px;
    outline-color: #F9AA33;
 }
 